In [50]:
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.float_format', lambda x: '%.2f' % x)


DATA_PATH = '/Users/kaiqu/kaggle-datasets/train.csv'

# Load data from CSV
df = pd.read_csv(DATA_PATH)

In [51]:
df.info

<bound method DataFrame.info of          stock_id  date_id  seconds_in_bucket  imbalance_size  \
0               0        0                  0      3180602.69
1               1        0                  0       166603.91
2               2        0                  0       302879.87
3               3        0                  0     11917682.27
4               4        0                  0       447549.96
...           ...      ...                ...             ...
5237975       195      480                540      2440722.89
5237976       196      480                540       349510.47
5237977       197      480                540            0.00
5237978       198      480                540      1000898.84
5237979       199      480                540      1884285.71

         imbalance_buy_sell_flag  reference_price  matched_size  far_price  \
0                              1             1.00   13380276.64        NaN
1                             -1             1.00    1642214.25        NaN
2                             -1             1.00    1819368.03        NaN
3                             -1             1.00   18389745.62        NaN
4                             -1             1.00   17860614.95        NaN
...                          ...              ...           ...        ...
5237975                       -1             1.00   28280361.74       1.00
5237976                       -1             1.00    9187699.11       1.00
5237977                        0             1.00   12725436.10       1.00
5237978                        1             1.00   94773271.05       1.00
5237979                       -1             1.00   24073677.32       1.00

         near_price  bid_price  bid_size  ask_price  ask_size  wap  target  \
0               NaN       1.00  60651.50       1.00   8493.03 1.00   -3.03
1               NaN       1.00   3233.04       1.00  20605.09 1.00   -5.52
2               NaN       1.00  37956.00       1.00  18995.00 1.00   -8.39
3               NaN       1.00   2324.90       1.00 479032.40 1.00   -4.01
4               NaN       1.00  16485.54       1.00    434.10 1.00   -7.35
...             ...        ...       ...        ...       ...  ...     ...
5237975        1.00       1.00  32257.04       1.00 319862.40 1.00    2.31
5237976        1.00       1.00 205108.40       1.00  93393.07 1.00   -8.22
5237977        1.00       1.00  16790.66       1.00 180038.32 1.00    1.17
5237978        1.00       1.00 125631.72       1.00 669893.00 1.00   -1.54
5237979        1.00       1.00 250081.44       1.00 300167.56 1.00   -6.53

         time_id       row_id
0              0        0_0_0
1              0        0_0_1
2              0        0_0_2
3              0        0_0_3
4              0        0_0_4
...          ...          ...
5237975    26454  480_540_195
5237976    26454  480_540_196
5237977    26454  480_540_197
5237978    26454  480_540_198
5237979    26454  480_540_199

[5237980 rows x 17 columns]>

In [52]:
df.describe()

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id
count,5237980.00,5237980.00,5237980.00,5237760.00,5237980.00,5237760.00,5237760.00,2343638.00,2380800.00,5237760.00,5237980.00,5237760.00,5237980.00,5237760.00,5237892.00,5237980.00
mean,99.29,241.51,270.00,5715293.10,-0.01,1.00,45100245.28,1.00,1.00,1.00,51813.59,1.00,53575.68,1.00,-0.05,13310.05
std,57.87,138.53,158.75,20515906.30,0.89,0.00,139841291.28,0.72,0.01,0.00,111421.41,0.00,129355.44,0.00,9.45,7619.27
min,0.00,0.00,0.00,0.00,-1.00,0.94,4316.61,0.00,0.79,0.93,0.00,0.94,0.00,0.94,-385.29,0.00
25%,49.00,122.00,130.00,84534.15,-1.00,1.00,5279575.17,1.00,1.00,1.00,7374.72,1.00,7823.70,1.00,-4.56,6729.00
50%,99.00,242.00,270.00,1113604.44,0.00,1.00,12882638.56,1.00,1.00,1.00,21969.00,1.00,23017.92,1.00,-0.06,13345.00
75%,149.00,361.00,410.00,4190951.00,1.00,1.00,32700130.58,1.00,1.00,1.00,55831.68,1.00,57878.41,1.00,4.41,19907.00
max,199.00,480.00,540.00,2982027811.68,1.00,1.08,7713682054.05,437.95,1.31,1.08,30287840.00,1.08,54405000.00,1.08,446.07,26454.00

In [53]:
df.head()

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,1,1.00,13380276.64,NaN,NaN,1.00,60651.50,1.00,8493.03,1.00,-3.03,0,0_0_0
1,1,0,0,166603.91,-1,1.00,1642214.25,NaN,NaN,1.00,3233.04,1.00,20605.09,1.00,-5.52,0,0_0_1
2,2,0,0,302879.87,-1,1.00,1819368.03,NaN,NaN,1.00,37956.00,1.00,18995.00,1.00,-8.39,0,0_0_2
3,3,0,0,11917682.27,-1,1.00,18389745.62,NaN,NaN,1.00,2324.90,1.00,479032.40,1.00,-4.01,0,0_0_3
4,4,0,0,447549.96,-1,1.00,17860614.95,NaN,NaN,1.00,16485.54,1.00,434.10,1.00,-7.35,0,0_0_4

In [54]:
df.count()

stock_id                   5237980
date_id                    5237980
seconds_in_bucket          5237980
imbalance_size             5237760
imbalance_buy_sell_flag    5237980
reference_price            5237760
matched_size               5237760
far_price                  2343638
near_price                 2380800
bid_price                  5237760
bid_size                   5237980
ask_price                  5237760
ask_size                   5237980
wap                        5237760
target                     5237892
time_id                    5237980
row_id                     5237980
dtype: int64

In [55]:
df[df['far_price'] != 'NaN'].count()

stock_id                   5237980
date_id                    5237980
seconds_in_bucket          5237980
imbalance_size             5237760
imbalance_buy_sell_flag    5237980
reference_price            5237760
matched_size               5237760
far_price                  2343638
near_price                 2380800
bid_price                  5237760
bid_size                   5237980
ask_price                  5237760
ask_size                   5237980
wap                        5237760
target                     5237892
time_id                    5237980
row_id                     5237980
dtype: int64

In [56]:
df.dtypes

stock_id                     int64
date_id                      int64
seconds_in_bucket            int64
imbalance_size             float64
imbalance_buy_sell_flag      int64
reference_price            float64
matched_size               float64
far_price                  float64
near_price                 float64
bid_price                  float64
bid_size                   float64
ask_price                  float64
ask_size                   float64
wap                        float64
target                     float64
time_id                      int64
row_id                      object
dtype: object

In [57]:
df.select_dtypes(include='object') # ? what is the meaning of the row_id?

              row_id
0              0_0_0
1              0_0_1
2              0_0_2
3              0_0_3
4              0_0_4
...              ...
5237975  480_540_195
5237976  480_540_196
5237977  480_540_197
5237978  480_540_198
5237979  480_540_199

[5237980 rows x 1 columns]

In [58]:
df.isnull().sum() # ? why there is a 220 null data? and why there is 2894342 and 2857180 null data?

stock_id                         0
date_id                          0
seconds_in_bucket                0
imbalance_size                 220
imbalance_buy_sell_flag          0
reference_price                220
matched_size                   220
far_price                  2894342
near_price                 2857180
bid_price                      220
bid_size                         0
ask_price                      220
ask_size                         0
wap                            220
target                          88
time_id                          0
row_id                           0
dtype: int64

In [59]:
# get df rows where the roll is null
df[df['imbalance_size'].isna()]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
369508,131,35,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1925,35_0_131
369700,131,35,10,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1926,35_10_131
369892,131,35,20,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1927,35_20_131
370084,131,35,30,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1928,35_30_131
370276,131,35,40,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1929,35_40_131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4774999,19,438,500,NaN,-1,NaN,NaN,NaN,NaN,NaN,115491.18,NaN,1990.10,NaN,3.32,24140,438_500_19
4775199,19,438,510,NaN,-1,NaN,NaN,NaN,NaN,NaN,189040.50,NaN,26283.84,NaN,-5.05,24141,438_510_19
4775399,19,438,520,NaN,-1,NaN,NaN,NaN,NaN,NaN,1392.93,NaN,43799.80,NaN,-0.11,24142,438_520_19
4775599,19,438,530,NaN,-1,NaN,NaN,NaN,NaN,NaN,13531.32,NaN,26881.20,NaN,-1.69,24143,438_530_19
4775799,19,438,540,NaN,-1,NaN,NaN,NaN,NaN,NaN,3183.84,NaN,39226.64,NaN,8.92,24144,438_540_19

In [60]:
df['imbalance_size'].isna()

0          False
1          False
2          False
3          False
4          False
           ...
5237975    False
5237976    False
5237977    False
5237978    False
5237979    False
Name: imbalance_size, Length: 5237980, dtype: bool

In [61]:
df[(df['imbalance_size'].isna()) & (df['imbalance_buy_sell_flag'] == 1)]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
3557881,101,328,140,NaN,1,NaN,NaN,NaN,NaN,NaN,2367.21,NaN,82971.00,NaN,-7.27,18054,328_140_101
3558081,101,328,150,NaN,1,NaN,NaN,NaN,NaN,NaN,788.26,NaN,78951.00,NaN,11.08,18055,328_150_101
3558281,101,328,160,NaN,1,NaN,NaN,NaN,NaN,NaN,788.26,NaN,78920.00,NaN,15.03,18056,328_160_101
3558481,101,328,170,NaN,1,NaN,NaN,NaN,NaN,NaN,788.26,NaN,789.20,NaN,9.59,18057,328_170_101
3558681,101,328,180,NaN,1,NaN,NaN,NaN,NaN,NaN,157654.00,NaN,17362.18,NaN,5.70,18058,328_180_101
3558881,101,328,190,NaN,1,NaN,NaN,NaN,NaN,NaN,157654.00,NaN,79010.00,NaN,-1.92,18059,328_190_101
3559081,101,328,200,NaN,1,NaN,NaN,NaN,NaN,NaN,5517.89,NaN,78953.00,NaN,8.09,18060,328_200_101
3559281,101,328,210,NaN,1,NaN,NaN,NaN,NaN,NaN,39415.00,NaN,78950.00,NaN,-1.58,18061,328_210_101
3559481,101,328,220,NaN,1,NaN,NaN,NaN,NaN,NaN,47298.00,NaN,82108.00,NaN,-4.00,18062,328_220_101
3559681,101,328,230,NaN,1,NaN,NaN,NaN,NaN,NaN,55181.00,NaN,78936.00,NaN,-3.05,18063,328_230_101
3559881,101,328,240,NaN,1,NaN,NaN,NaN,NaN,NaN,56757.60,NaN,86040.24,NaN,-9.66,18064,328_240_101
3560081,101,328,250,NaN,1,NaN,NaN,NaN,NaN,NaN,78666.00,NaN,78880.00,NaN,-5.60,18065,328_250_101
3560281,101,328,260,NaN,1,NaN,NaN,NaN,NaN,NaN,78666.00,NaN,81246.40,NaN,-11.38,18066,328_260_101
3560481,101,328,270,NaN,1,NaN,NaN,NaN,NaN,NaN,7872.20,NaN,78875.00,NaN,2.25,18067,328_270_101

In [62]:
df['imbalance_buy_sell_flag'] == -1

0          False
1           True
2           True
3           True
4           True
           ...
5237975     True
5237976     True
5237977    False
5237978    False
5237979     True
Name: imbalance_buy_sell_flag, Length: 5237980, dtype: bool

In [63]:
df.iloc[5237979]

stock_id                           199
date_id                            480
seconds_in_bucket                  540
imbalance_size              1884285.71
imbalance_buy_sell_flag             -1
reference_price                   1.00
matched_size               24073677.32
far_price                         1.00
near_price                        1.00
bid_price                         1.00
bid_size                     250081.44
ask_price                         1.00
ask_size                     300167.56
wap                               1.00
target                           -6.53
time_id                          26454
row_id                     480_540_199
Name: 5237979, dtype: object

In [64]:
df[df['stock_id'] == 1]

# 26455 / 600 = 4.29

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
1,1,0,0,166603.91,-1,1.00,1642214.25,NaN,NaN,1.00,3233.04,1.00,20605.09,1.00,-5.52,0,0_0_1
192,1,0,10,165923.20,-1,1.00,1642894.96,NaN,NaN,1.00,3743.52,1.00,33717.42,1.00,-1.62,1,0_10_1
383,1,0,20,165923.20,-1,1.00,1642894.96,NaN,NaN,1.00,3743.52,1.00,33717.42,1.00,-6.46,2,0_20_1
574,1,0,30,165923.20,-1,1.00,1642894.96,NaN,NaN,1.00,4254.00,1.00,3574.83,1.00,-5.15,3,0_30_1
765,1,0,40,162349.47,-1,1.00,1646468.69,NaN,NaN,1.00,21270.00,1.00,3574.83,1.00,-6.75,4,0_40_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5236981,1,480,500,88468.41,-1,1.00,7635810.59,1.00,1.00,1.00,176306.44,1.00,64345.00,1.00,2.85,26450,480_500_1
5237181,1,480,510,310778.50,-1,1.00,7413500.50,1.00,1.00,1.00,1324.33,1.00,47135.70,1.00,3.17,26451,480_510_1
5237381,1,480,520,310778.50,-1,1.00,7413500.50,1.00,1.00,1.00,3783.80,1.00,85374.30,1.00,5.69,26452,480_520_1
5237581,1,480,530,310778.50,-1,1.00,7413500.50,1.00,1.00,1.00,7567.60,1.00,112065.60,1.00,10.65,26453,480_530_1
5237781,1,480,540,43854.51,-1,1.00,7680424.49,1.00,1.00,1.00,5675.70,1.00,167909.10,1.00,15.86,26454,480_540_1

In [65]:
df[df['stock_id'] == 2]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
2,2,0,0,302879.87,-1,1.00,1819368.03,NaN,NaN,1.00,37956.00,1.00,18995.00,1.00,-8.39,0,0_0_2
193,2,0,10,184766.21,-1,1.00,1937481.68,NaN,NaN,1.00,37956.00,1.00,379.90,1.00,-7.46,1,0_10_2
384,2,0,20,169764.64,-1,1.00,1952483.25,NaN,NaN,1.00,18974.00,1.00,569.61,1.00,-6.38,2,0_20_2
575,2,0,30,169764.64,-1,1.00,1952483.25,NaN,NaN,1.00,18974.00,1.00,189.87,1.00,-5.82,3,0_30_2
766,2,0,40,169764.64,-1,1.00,1952483.25,NaN,NaN,1.00,18974.00,1.00,49368.80,1.00,-0.28,4,0_40_2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5236982,2,480,500,376011.29,-1,1.00,10889581.97,1.00,1.00,1.00,23248.80,1.00,190117.80,1.00,-4.45,26450,480_500_2
5237182,2,480,510,376011.29,-1,1.00,10889581.97,1.00,1.00,1.00,71683.80,1.00,214149.00,1.00,-5.56,26451,480_510_2
5237382,2,480,520,260569.23,-1,1.00,11005024.03,1.00,1.00,1.00,968.55,1.00,105034.18,1.00,-5.31,26452,480_520_2
5237582,2,480,530,184125.24,-1,1.00,11081468.02,1.00,1.00,1.00,581.04,1.00,63740.46,1.00,-5.24,26453,480_530_2
5237782,2,480,540,184125.24,-1,1.00,11081468.02,1.00,1.00,1.00,5616.14,1.00,102488.46,1.00,-1.55,26454,480_540_2

In [66]:
# investigate a normal number stock
df[df['stock_id'] == 100] # 481 * 55 = 24250 -> #! why there is a mismatch with 26455?

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
97,100,0,0,0.00,0,1.00,80691.87,NaN,NaN,1.00,4807.78,1.00,6241.62,1.00,-5.23,0,0_0_100
288,100,0,10,0.00,0,1.00,80691.87,NaN,NaN,1.00,1566.58,1.00,2730.03,1.00,-3.02,1,0_10_100
479,100,0,20,0.00,0,1.00,80691.87,NaN,NaN,1.00,1566.58,1.00,2730.03,1.00,3.05,2,0_20_100
670,100,0,30,0.00,0,1.00,80691.87,NaN,NaN,1.00,16422.08,1.00,5433.03,1.00,6.65,3,0_30_100
861,100,0,40,0.00,0,1.00,80691.87,NaN,NaN,1.00,1702.26,1.00,5433.03,1.00,26.32,4,0_40_100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5237080,100,480,500,0.00,0,1.00,1290339.72,1.00,1.00,1.00,29699.68,1.00,63961.20,1.00,-6.74,26450,480_500_100
5237280,100,480,510,0.00,0,1.00,1290339.72,1.00,1.00,1.00,30085.20,1.00,63961.20,1.00,-11.86,26451,480_510_100
5237480,100,480,520,0.00,0,1.00,1290339.72,1.00,1.00,1.00,37263.68,1.00,63961.20,1.00,-13.17,26452,480_520_100
5237680,100,480,530,0.00,0,1.00,1290339.72,1.00,1.00,1.00,42631.68,1.00,51736.20,1.00,-15.16,26453,480_530_100
5237880,100,480,540,0.00,0,1.00,1290339.72,1.00,1.00,1.00,42734.16,1.00,51736.20,1.00,-8.02,26454,480_540_100

In [75]:
DATE_RANGE = 480
EXPECTED_DAYS = 55
for i in range(DATE_RANGE + 1):
    if len(df[(df['date_id'] == i) & (df['stock_id'] == 100)]) != EXPECTED_DAYS:       
        print(i, len(df[df['date_id'] == i]))
    if i == 480:
        print(len(df[(df['date_id'] == i) & (df['stock_id'] == 100)]))

55

In [81]:
df[(df['stock_id'] == 100) & (df['date_id'] == 1)].to_csv('normal_stock_day_1.csv')

In [78]:
df[df['stock_id'] == 100].max()

stock_id                           100
date_id                            480
seconds_in_bucket                  540
imbalance_size            235051642.59
imbalance_buy_sell_flag              1
reference_price                   1.03
matched_size              428930860.41
far_price                         1.21
near_price                        1.13
bid_price                         1.03
bid_size                     617043.20
ask_price                         1.03
ask_size                    3950411.40
wap                               1.03
target                          234.57
time_id                          26454
row_id                        9_90_100
dtype: object

In [67]:
df.max()

stock_id                            199
date_id                             480
seconds_in_bucket                   540
imbalance_size            2982027811.68
imbalance_buy_sell_flag               1
reference_price                    1.08
matched_size              7713682054.05
far_price                        437.95
near_price                         1.31
bid_price                          1.08
bid_size                    30287840.00
ask_price                          1.08
ask_size                    54405000.00
wap                                1.08
target                           446.07
time_id                           26454
row_id                          9_90_99
dtype: object

In [68]:
# investigate the missing data for stock 199
df[df['stock_id'] == 199] # 21615 / 55 = 406.4

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
937451,199,88,0,20887917.73,1,1.00,5487274.58,NaN,NaN,1.00,14108.05,1.00,5002.00,1.00,-20.32,4840,88_0_199
937648,199,88,10,20837918.65,1,1.00,5537273.66,NaN,NaN,1.00,31162.56,1.00,44964.00,1.00,-10.24,4841,88_10_199
937845,199,88,20,20915667.22,1,1.00,5537273.66,NaN,NaN,1.00,47405.00,1.00,91939.54,1.00,-9.18,4842,88_20_199
938042,199,88,30,20915667.22,1,1.00,5537273.66,NaN,NaN,1.00,73672.76,1.00,32534.80,1.00,-6.46,4843,88_30_199
938239,199,88,40,20915667.22,1,1.00,5537273.66,NaN,NaN,1.00,16784.62,1.00,40019.80,1.00,-6.09,4844,88_40_199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5237179,199,480,500,2661783.46,-1,1.00,23969215.23,1.00,1.00,1.00,122246.18,1.00,425296.17,1.00,-7.21,26450,480_500_199
5237379,199,480,510,2658917.61,-1,1.00,23972081.09,1.00,1.00,1.00,677012.04,1.00,347268.87,1.00,-9.75,26451,480_510_199
5237579,199,480,520,1352558.88,-1,1.00,23978379.68,1.00,1.00,1.00,225361.65,1.00,194630.52,1.00,3.63,26452,480_520_199
5237779,199,480,530,1352558.88,-1,1.00,23978379.68,1.00,1.00,1.00,285559.05,1.00,214513.32,1.00,4.76,26453,480_530_199
5237979,199,480,540,1884285.71,-1,1.00,24073677.32,1.00,1.00,1.00,250081.44,1.00,300167.56,1.00,-6.53,26454,480_540_199

In [76]:
print(len(df[df['stock_id'] == 199]))

21615

In [44]:
MAX_STOCKS = 199
EXPECTED_ROWS = 26455 # 26455 / 55 = 51.64
for stock_id in range(1, MAX_STOCKS + 1): 
    if len(df[df['stock_id'] == stock_id]) != EXPECTED_ROWS:
        print(stock_id, len(df[df['stock_id'] == stock_id]))

#! several missing data for some stocks

69 24420
73 26400
78 26235
79 16500
99 26400
102 10230
135 15950
150 23210
153 22605
156 24420
199 21615

In [45]:
df[df['stock_id'] == 69]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
390569,69,37,0,1530007.23,1,1.00,840140.43,NaN,NaN,1.00,81488.82,1.00,35394.21,1.00,-4.64,2035,37_0_69
390763,69,37,10,1434155.16,1,1.00,935992.49,NaN,NaN,1.00,72852.31,1.00,56779.90,1.00,1.97,2036,37_10_69
390957,69,37,20,1434155.16,1,1.00,935992.49,NaN,NaN,1.00,83154.31,1.00,8675.90,1.00,1.36,2037,37_20_69
391151,69,37,30,1434155.16,1,1.00,935992.49,NaN,NaN,1.00,86588.31,1.00,29360.62,1.00,7.68,2038,37_30_69
391345,69,37,40,1434155.16,1,1.00,935992.49,NaN,NaN,1.00,86588.31,1.00,26096.42,1.00,7.19,2039,37_40_69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5237049,69,480,500,2193328.35,-1,1.00,4325253.39,0.99,1.00,1.00,287827.34,1.00,454120.80,1.00,1.59,26450,480_500_69
5237249,69,480,510,2193328.35,-1,1.00,4325253.39,0.99,1.00,1.00,458622.57,1.00,374564.40,1.00,-0.99,26451,480_510_69
5237449,69,480,520,2127787.19,-1,1.00,4390794.54,0.99,1.00,1.00,465200.33,1.00,423981.60,1.00,-0.17,26452,480_520_69
5237649,69,480,530,2127787.19,-1,1.00,4390794.54,0.99,1.00,1.00,473749.74,1.00,388365.60,1.00,1.48,26453,480_530_69
5237849,69,480,540,2127787.19,-1,1.00,4390794.54,0.99,1.00,1.00,527596.76,1.00,542094.00,1.00,-16.54,26454,480_540_69

In [48]:
df[(df['stock_id'] == 69) & (df['date_id'] == 37)]

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
390569,69,37,0,1530007.23,1,1.00,840140.43,NaN,NaN,1.00,81488.82,1.00,35394.21,1.00,-4.64,2035,37_0_69
390763,69,37,10,1434155.16,1,1.00,935992.49,NaN,NaN,1.00,72852.31,1.00,56779.90,1.00,1.97,2036,37_10_69
390957,69,37,20,1434155.16,1,1.00,935992.49,NaN,NaN,1.00,83154.31,1.00,8675.90,1.00,1.36,2037,37_20_69
391151,69,37,30,1434155.16,1,1.00,935992.49,NaN,NaN,1.00,86588.31,1.00,29360.62,1.00,7.68,2038,37_30_69
391345,69,37,40,1434155.16,1,1.00,935992.49,NaN,NaN,1.00,86588.31,1.00,26096.42,1.00,7.19,2039,37_40_69
391539,69,37,50,1434155.16,1,1.00,935992.49,NaN,NaN,1.00,88305.31,1.00,20134.96,1.00,7.58,2040,37_50_69
391733,69,37,60,1434155.16,1,1.00,935992.49,NaN,NaN,1.00,96958.99,1.00,20444.20,1.00,9.46,2041,37_60_69
391927,69,37,70,1434155.16,1,1.00,935992.49,NaN,NaN,1.00,96512.57,1.00,41060.20,1.00,7.56,2042,37_70_69
392121,69,37,80,1434155.16,1,1.00,935992.49,NaN,NaN,1.00,146151.04,1.00,25598.20,1.00,7.99,2043,37_80_69
392315,69,37,90,1434137.98,1,1.00,935992.49,NaN,NaN,1.00,117373.76,1.00,47220.93,1.00,2.03,2044,37_90_69
392509,69,37,100,1425992.79,1,1.00,944137.69,NaN,NaN,1.00,176696.30,1.00,46791.18,1.00,3.25,2045,37_100_69
392703,69,37,110,1425992.79,1,1.00,944137.69,NaN,NaN,1.00,176696.30,1.00,57105.18,1.00,1.50,2046,37_110_69
392897,69,37,120,1425992.79,1,1.00,944137.69,NaN,NaN,1.00,180939.76,1.00,58927.32,1.00,3.41,2047,37_120_69
393091,69,37,130,1425992.79,1,1.00,944137.69,NaN,NaN,1.00,188258.44,1.00,83371.50,1.00,3.33,2048,37_130_69
393285,69,37,140,1425528.82,1,1.00,944601.65,NaN,NaN,1.00,208033.38,1.00,987710.00,1.00,-0.35,2049,37_140_69
393479,69,37,150,1420098.69,1,1.00,950031.78,NaN,NaN,1.00,180460.62,1.00,1010242.00,1.00,-0.54,2050,37_150_69
393673,69,37,160,1420098.69,1,1.00,950031.78,NaN,NaN,1.00,192493.62,1.00,987778.80,1.00,-5.34,2051,37_160_69
393867,69,37,170,1335862.98,1,1.00,1034267.50,NaN,NaN,1.00,116549.12,1.00,92929.14,1.00,-3.69,2052,37_170_69
394061,69,37,180,1415355.92,1,1.00,1042412.69,NaN,NaN,1.00,145789.48,1.00,36219.33,1.00,-6.80,2053,37_180_69
394255,69,37,190,1555525.39,1,1.00,1042412.69,NaN,NaN,1.00,147507.48,1.00,63774.90,1.00,-7.12,2054,37_190_69
394449,69,37,200,1557243.79,1,1.00,1042412.69,NaN,NaN,1.00,130327.48,1.00,168633.90,1.00,-6.98,2055,37_200_69
394643,69,37,210,1558962.18,1,1.00,1042412.69,NaN,NaN,1.00,132474.98,1.00,175011.39,1.00,-8.82,2056,37_210_69
394837,69,37,220,1495725.25,1,1.00,1107385.20,NaN,NaN,1.00,111759.53,1.00,30941.18,1.00,-4.60,2057,37_220_69
395031,69,37,230,1494075.59,1,1.00,1112471.65,NaN,NaN,1.00,125049.11,1.00,36198.26,1.00,-8.44,2058,37_230_69
395225,69,37,240,1530041.60,1,1.00,1176722.43,NaN,NaN,1.00,128534.62,1.00,73788.10,1.00,-8.88,2059,37_240_69
395419,69,37,250,1572348.48,1,1.00,1407829.35,NaN,NaN,1.00,125375.34,1.00,96173.64,1.00,-11.78,2060,37_250_69
395613,69,37,260,538218.45,1,1.00,2441959.38,NaN,NaN,1.00,115176.36,1.00,113405.18,1.00,-12.34,2061,37_260_69
395807,69,37,270,538218.45,1,1.00,2441959.38,NaN,NaN,1.00,115107.68,1.00,118610.72,1.00,-3.14,2062,37_270_69
396001,69,37,280,328299.34,1,1.00,2701488.55,NaN,NaN,1.00,83497.71,1.00,106017.78,1.00,-2.99,2063,37_280_69
396195,69,37,290,309723.49,1,1.00,3027502.43,NaN,NaN,1.00,74912.71,1.00,81742.44,1.00,1.42,2064,37_290_69
396389,69,37,300,0.00,0,1.00,4250501.23,1.00,1.00,1.00,57794.22,1.00,128540.76,1.00,2.17,2065,37_300_69
396583,69,37,310,0.00,0,1.00,4121243.57,1.00,1.00,1.00,18876.00,1.00,78466.90,1.00,7.00,2066,37_310_69
396777,69,37,320,0.00,0,1.00,4121243.57,1.00,1.00,1.00,64175.30,1.00,64418.64,1.00,7.78,2067,37_320_69
396971,69,37,330,0.00,0,1.00,4121243.57,1.00,1.00,1.00,60111.48,1.00,68233.58,1.00,3.14,2068,37_330_69
397165,69,37,340,0.00,0,1.00,4121243.57,1.00,1.00,1.00,65156.52,1.00,72182.68,1.00,5.27,2069,37_340_69
397359,69,37,350,0.00,0,1.00,4121243.57,1.00,1.00,1.00,67541.76,1.00,52900.77,1.00,3.56,2070,37_350_69
397553,69,37,360,0.00,0,1.00,4121243.57,1.00,1.00,1.00,83826.60,1.00,57656.86,1.00,10.84,2071,37_360_69
397747,69,37,370,0.00,0,1.00,4121243.57,1.00,1.00,1.00,93470.52,1.00,40692.90,1.00,8.33,2072,37_370_69
397941,69,37,380,0.00,0,1.00,4121243.57,1.00,1.00,1.00,95358.12,1.00,83617.90,1.00,8.32,2073,37_380_69
398135,69,37,390,0.00,0,1.00,4121243.57,1.00,1.00,1.00,105997.32,1.00,17873.97,1.00,6.96,2074,37_390_69
398329,69,37,400,0.00,0,1.00,4250501.23,1.00,1.00,1.00,151370.72,1.00,430273.10,1.00,4.96,2075,37_400_69
398523,69,37,410,0.00,0,1.00,4250501.23,1.00,1.00,1.00,177469.12,1.00,412405.90,1.00,5.72,2076,37_410_69
398717,69,37,420,0.00,0,1.00,4363193.56,1.00,1.00,1.00,111824.62,1.00,264038.40,1.00,-2.56,2077,37_420_69
398911,69,37,430,0.00,0,1.00,4363193.56,1.00,1.00,1.00,172865.16,1.00,221080.59,1.00,-0.92,2078,37_430_69
399105,69,37,440,0.00,0,1.00,4363193.56,1.00,1.00,1.00,144689.96,1.00,248498.64,1.00,0.65,2079,37_440_69
399299,69,37,450,0.00,0,1.00,4363193.56,1.00,1.00,1.00,168518.62,1.00,395473.14,1.00,1.05,2080,37_450_69
399493,69,37,460,0.00,0,1.00,4363193.56,1.00,1.00,1.00,190509.02,1.00,397793.79,1.00,1.65,2081,37_460_69
399687,69,37,470,0.00,0,1.00,4363193.56,1.00,1.00,1.00,195164.80,1.00,454520.79,1.00,1.49,2082,37_470_69
399881,69,37,480,0.00,0,1.00,4446346.69,1.00,1.00,1.00,192244.20,1.00,619837.02,1.00,3.16,2083,37_480_69
400075,69,37,490,0.00,0,1.00,4446346.69,1.00,1.00,1.00,94301.02,1.00,633932.82,1.00,1.03,2084,37_490_69
400269,69,37,500,0.00,0,1.00,4446346.69,1.00,1.00,1.00,85831.28,1.00,634035.96,1.00,0.33,2085,37_500_69
400463,69,37,510,0.00,0,1.00,4446346.69,1.00,1.00,1.00,133162.18,1.00,820891.26,1.00,-1.26,2086,37_510_69
400657,69,37,520,0.00,0,1.00,4446346.69,1.00,1.00,1.00,179290.48,1.00,826134.21,1.00,-2.36,2087,37_520_69
400851,69,37,530,0.00,0,1.00,4446346.69,1.00,1.00,1.00,23485.06,1.00,834522.93,1.00,-1.13,2088,37_530_69
401045,69,37,540,0.00,0,1.00,4446346.69,1.00,1.00,1.00,21457.82,1.00,1023509.79,1.00,-23.99,2089,37_540_69

In [49]:
df[(df['stock_id'] == 69) & (df['date_id'] == 480)]
# each date we have 55 rows

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
5227049,69,480,0,195336.68,-1,1.00,1326331.53,NaN,NaN,1.00,2489.36,1.00,93621.98,1.00,2.67,26400,480_0_69
5227249,69,480,10,195336.68,-1,1.00,1326331.53,NaN,NaN,1.00,69609.57,1.00,63663.62,1.00,-2.66,26401,480_10_69
5227449,69,480,20,205706.53,-1,1.00,1326163.33,NaN,NaN,1.00,187290.70,1.00,10104.00,1.00,-5.39,26402,480_20_69
5227649,69,480,30,205538.33,-1,1.00,1326331.53,NaN,NaN,1.00,77153.34,1.00,159138.00,1.00,2.08,26403,480_30_69
5227849,69,480,40,205538.33,-1,1.00,1326331.53,NaN,NaN,1.00,78440.07,1.00,167558.00,1.00,1.94,26404,480_40_69
5228049,69,480,50,212199.25,-1,1.00,1326331.53,NaN,NaN,1.00,83687.91,1.00,167558.00,1.00,2.32,26405,480_50_69
5228249,69,480,60,212199.25,-1,1.00,1326331.53,NaN,NaN,1.00,88792.78,1.00,167558.00,1.00,-7.88,26406,480_60_69
5228449,69,480,70,212199.25,-1,1.00,1326331.53,NaN,NaN,1.00,101424.60,1.00,181880.42,1.00,-8.55,26407,480_70_69
5228649,69,480,80,212199.25,-1,1.00,1326331.53,NaN,NaN,1.00,99406.20,1.00,157462.42,1.00,-8.75,26408,480_80_69
5228849,69,480,90,212199.25,-1,1.00,1326331.53,NaN,NaN,1.00,100289.25,1.00,175986.42,1.00,-9.14,26409,480_90_69
5229049,69,480,100,212199.25,-1,1.00,1326331.53,NaN,NaN,1.00,69870.28,1.00,184776.90,1.00,-9.14,26410,480_100_69
5229249,69,480,110,212199.25,-1,1.00,1326331.53,NaN,NaN,1.00,83772.01,1.00,143485.22,1.00,-8.61,26411,480_110_69
5229449,69,480,120,210971.35,-1,1.00,1327534.20,NaN,NaN,1.00,140700.00,1.00,158057.54,1.00,3.39,26412,480_120_69
5229649,69,480,130,210971.35,-1,1.00,1327534.20,NaN,NaN,1.00,217207.20,1.00,179074.13,1.00,-8.67,26413,480_130_69
5229849,69,480,140,210971.35,-1,1.00,1327534.20,NaN,NaN,1.00,183481.20,1.00,166459.13,1.00,-9.17,26414,480_140_69
5230049,69,480,150,210971.35,-1,1.00,1327534.20,NaN,NaN,1.00,183481.20,1.00,166484.36,1.00,1.58,26415,480_150_69
5230249,69,480,160,210971.35,-1,1.00,1327534.20,NaN,NaN,1.00,181801.20,1.00,166526.41,1.00,-2.18,26416,480_160_69
5230449,69,480,170,210971.35,-1,1.00,1327534.20,NaN,NaN,1.00,184119.60,1.00,168208.41,1.00,-0.34,26417,480_170_69
5230649,69,480,180,879284.20,-1,1.00,1328198.61,NaN,NaN,1.00,165496.80,1.00,106226.71,1.00,-1.05,26418,480_180_69
5230849,69,480,190,863784.09,-1,1.00,1343698.72,NaN,NaN,1.00,123249.10,1.00,97482.00,1.00,10.80,26419,480_190_69
5231049,69,480,200,863784.09,-1,1.00,1343698.72,NaN,NaN,1.00,162581.42,1.00,89174.40,1.00,12.69,26420,480_200_69
5231249,69,480,210,863784.09,-1,1.00,1343698.72,NaN,NaN,1.00,146529.60,1.00,129556.05,1.00,1.62,26421,480_210_69
5231449,69,480,220,863784.09,-1,1.00,1343698.72,NaN,NaN,1.00,91518.00,1.00,352421.05,1.00,6.91,26422,480_220_69
5231649,69,480,230,863784.09,-1,1.00,1343698.72,NaN,NaN,1.00,96692.40,1.00,322145.05,1.00,5.41,26423,480_230_69
5231849,69,480,240,863641.12,-1,1.00,1343841.69,NaN,NaN,1.00,111820.80,1.00,120380.74,1.00,-17.80,26424,480_240_69
5232049,69,480,250,852077.01,-1,1.00,1397827.15,NaN,NaN,1.00,105344.40,1.00,100894.77,1.00,-16.68,26425,480_250_69
5232249,69,480,260,882833.33,-1,1.00,1397827.15,NaN,NaN,1.00,166353.60,1.00,91568.08,1.00,-19.84,26426,480_260_69
5232449,69,480,270,884750.87,-1,1.00,1397827.15,NaN,NaN,1.00,192410.40,1.00,91568.08,1.00,-18.88,26427,480_270_69
5232649,69,480,280,1190707.69,-1,1.00,1702101.92,NaN,NaN,1.00,105588.00,1.00,91568.08,1.00,-19.20,26428,480_280_69
5232849,69,480,290,1116596.49,-1,1.00,2043735.06,NaN,NaN,1.00,123412.80,1.00,91887.66,1.00,-19.62,26429,480_290_69
5233049,69,480,300,3997043.02,-1,1.00,2535852.98,0.95,0.96,1.00,186387.96,1.00,190679.53,1.00,-0.32,26430,480_300_69
5233249,69,480,310,2844778.62,-1,1.00,3651600.03,0.95,0.98,1.00,170424.06,1.00,73865.56,1.00,-0.07,26431,480_310_69
5233449,69,480,320,2844778.62,-1,1.00,3651600.03,0.95,0.98,1.00,137130.32,1.00,136790.56,1.00,1.11,26432,480_320_69
5233649,69,480,330,2844778.62,-1,1.00,3651600.03,0.95,0.98,1.00,121174.80,1.00,98204.95,1.00,0.31,26433,480_330_69
5233849,69,480,340,2844778.62,-1,1.00,3651600.03,0.95,0.98,1.00,128113.44,1.00,152739.95,1.00,-0.58,26434,480_340_69
5234049,69,480,350,2844778.62,-1,1.00,3651600.03,0.95,0.98,1.00,172468.78,1.00,123047.74,1.00,-1.53,26435,480_350_69
5234249,69,480,360,2844778.62,-1,1.00,3651600.03,0.95,0.98,1.00,179926.98,1.00,189060.26,1.00,1.28,26436,480_360_69
5234449,69,480,370,2844778.62,-1,1.00,3651600.03,0.95,0.98,1.00,223301.86,1.00,183187.26,1.00,0.57,26437,480_370_69
5234649,69,480,380,2840573.49,-1,1.00,3655805.16,0.95,0.98,1.00,201572.52,1.00,195730.31,1.00,0.38,26438,480_380_69
5234849,69,480,390,2840573.49,-1,1.00,3655805.16,0.95,0.98,1.00,215106.22,1.00,214154.75,1.00,1.80,26439,480_390_69
5235049,69,480,400,2840573.49,-1,1.00,3655805.16,0.95,0.98,1.00,242098.20,1.00,222972.64,1.00,0.70,26440,480_400_69
5235249,69,480,410,2840573.49,-1,1.00,3655805.16,0.95,0.98,1.00,308878.42,1.00,230104.14,1.00,2.28,26441,480_410_69
5235449,69,480,420,2840573.49,-1,1.00,3655805.16,0.95,0.98,1.00,320710.98,1.00,318215.92,1.00,1.80,26442,480_420_69
5235649,69,480,430,2840573.49,-1,1.00,3655805.16,0.95,0.98,1.00,413804.40,1.00,319189.16,1.00,2.07,26443,480_430_69
5235849,69,480,440,2830481.18,-1,1.00,3665897.47,0.96,0.99,1.00,372382.06,1.00,371257.50,1.00,11.16,26444,480_440_69
5236049,69,480,450,2830481.18,-1,1.00,3665897.47,0.96,0.99,1.00,450693.16,1.00,370418.50,1.00,11.04,26445,480_450_69
5236249,69,480,460,2239239.95,-1,1.00,4257138.70,0.99,0.99,1.00,412438.46,1.00,376803.29,1.00,12.69,26446,480_460_69
5236449,69,480,470,2137475.81,-1,1.00,4358902.84,0.99,0.99,1.00,583725.66,1.00,424626.29,1.00,11.74,26447,480_470_69
5236649,69,480,480,2026224.90,-1,1.00,4470153.75,0.99,1.00,1.00,667517.28,1.00,508526.29,1.00,12.16,26448,480_480_69
5236849,69,480,490,2000708.18,-1,1.00,4495670.47,0.99,1.00,1.00,714830.76,1.00,498886.18,1.00,11.59,26449,480_490_69
5237049,69,480,500,2193328.35,-1,1.00,4325253.39,0.99,1.00,1.00,287827.34,1.00,454120.80,1.00,1.59,26450,480_500_69
5237249,69,480,510,2193328.35,-1,1.00,4325253.39,0.99,1.00,1.00,458622.57,1.00,374564.40,1.00,-0.99,26451,480_510_69
5237449,69,480,520,2127787.19,-1,1.00,4390794.54,0.99,1.00,1.00,465200.33,1.00,423981.60,1.00,-0.17,26452,480_520_69
5237649,69,480,530,2127787.19,-1,1.00,4390794.54,0.99,1.00,1.00,473749.74,1.00,388365.60,1.00,1.48,26453,480_530_69
5237849,69,480,540,2127787.19,-1,1.00,4390794.54,0.99,1.00,1.00,527596.76,1.00,542094.00,1.00,-16.54,26454,480_540_69